<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Order</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</head>
<body>
<div>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/order">Nolan's Hard Covers</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/order">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<br/>
<div class="container text-center">
  <h1>Welcome to Nolan's Hard Covers Online Bookstore!</h1>
  <h5 class="text-muted">100% User Dissatisfaction Guaranteed</h5>
  <br>
  
    <div class="text-center", style="display:flex; justify-content: center; align-items:center; margin-left: auto; margin-right: auto">
      <div class="card" style="width: 20rem;">
        <img src="../static/book.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">$1.00 each</h5>
          <p class="card-text">Purchase any book you can think of, it literally doesn't even need to exist. We promise we'll make it and send it to you - no address required. 
             To place your order, please fill out the following: </p>
          <form method="POST">
            <div class="mb-3">
              <label for="book_name" class="form-label">Book Name</label>
              <input type="text" class="form-control" name="book_name" id="book_name" aria-describedby="book_name" required>
            
            </div>
            <div class="mb-3">
              <label for="author_name" class="form-label">Author Name</label>
              <input type="text" name="author_name" class="form-control" id="author_name" required>
            </div>
            <div class="mb-3">
              <label for="quantity" class="form-label">Quantity</label>
              <input type="number" min="0" pattern="\d*" name="quantity" class="form-control" id="quantity" required>
            </div>
            <div class="mb-3">
              <label for="customer_name" class="form-label">Customer Name</label>
              <input type="text" name="customer_name" class="form-control" id="customer_name" required>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
              <label class="form-check-label" for="flexCheckDisabled">
                $0 - Free shipping (1-2 days)
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
              <label class="form-check-label" for="flexCheckCheckedDisabled">
                $100 - Regular Shipping (4-5 years)
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Purchase</button>
          </form>
        </div> 
    </div>
    
  </div>
  <br>
</div>

</div>
</body>
</html>